html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    script(src="socket.io/socket.io.js")
  body
    h2 ABC
    p(onClick="myFunction()") increase
    script(type='text/javascript').
      const socket = io("http://localhost:8080");
      function myFunction() {
        socket.emit("Client-send-data");
      }